@model EntityLayer.Concrete.Post

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Detay</h2>

<div>
    <h4>İlan</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
           Balkon
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Balcony)
        </dd>
        <dt>
            Kat Sayısı
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Floor)
        </dd>
        <dt>
            Oda Sayısı
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RoomCount)
        </dd>
        <dt>
            Bina Yaşı
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BuildingAge)
        </dd>
        <dt>
           Site
        </dt>
        <dd>
            @Html.DisplayFor(model => model.InSite)
        </dd>
        <dt>
            Eşyalı
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HasFurniture)
        </dd>
        <dt>
            Banyo Sayısı
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BathroomCount)
        </dd>
        <dt>
            Metrekare
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SquareMeters)
        </dd>
        <dt>
            İlan Tarihi
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Vacancy)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Vacancy)
        </dd>
        <dt>
            Isıtma
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HeatId)
        </dd>
        <dt>
            Fiyat
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            Eski Fiyat
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OldPrice)
        </dd>
        <dt>
            Gösterim Sayısı
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Viewing)
        </dd>
        <dt>
            İlan Açıklaması
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            İlan Başlığı
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>
            Kategorisi
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Categories.CategoryId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.PostId">Düzenle</a> |
    <a asp-action="List">Listeye Dön</a>
</div>
