@{
    ViewData["Title"] = "Home Page";
}
@model List<EntityLayer.Concrete.Post>


<div class="banner dark-translucent-bg" style="background-image:url('~/Content/images/blog-2.jpg'); background-position:50% 32%;">
    <div class="container">
        <div class="row">
            <div class="col-md-8 text-center col-md-offset-2 pv-20">
                <h2 class="title object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100"><strong>Sitemize</strong> hoşgeldiniz</h2>
                <div class="separator object-non-visible mt-10" data-animation-effect="fadeIn" data-effect-delay="100"></div>
                <p class="text-center object-non-visible" data-animation-effect="fadeIn" data-effect-delay="100">En uygun gayrimenkul bulmanın tek adresi.</p>
            </div>
        </div>
    </div>
</div>

<!-- main-container start -->
<!-- ================ -->
<section class="main-container">

    <div class="container">
        <div class="row">

            <!-- main start -->
            <!-- ================ -->
            <div class="main col-md-9">
                <!-- pills start -->
                <!-- ================ -->
                <!-- Nav tabs -->
                <ul class="nav nav-pills" role="tablist">
                    <li class="active"><a href="/Home/Index?ordering=false" role="tab" title="Son Eklenenler"><i class="icon-star"></i> Son Eklenenler</a></li>
                    <li><a href="/Home/Index?ordering=true" role="tab" title="Popüler İlanlar"> Popüler İlanlar</a></li>
                    @*<li><a href="#pill-1" role="tab" id="myBtn" data-toggle="tab" title="Featured"><i class="icon-heart"></i> Featured</a></li>*@
                </ul>
                <!-- Tab panes -->
                <div class="tab-content clear-style">

                    <div class="tab-pane active" >
                        @if (Model != null)
                        {
                            @foreach (var post in Model)
                            {
                                <div class="listing-item mb-20">
                                    <div class="row grid-space-0">
                                        <div class="col-sm-6 col-md-4 col-lg-3">
                                            <div class="overlay-container">
                                                @if (@post.Images != null && post.Images.Count > 0)
                                                {
                                                    <img src="~/Content/images/@post.Images[0].ImageId" alt="">
                                                    <a class="overlay-link" href="~/Content/images/@post.Images[0].ImageFile"><i class="fa fa-plus"></i></a>
                                                }
                                                <span class="badge">30% OFF</span>
                                            </div>
                                        </div>
                                        <div class="col-sm-6 col-md-8 col-lg-9">
                                            <div class="body">
                                                <h3 class="margin-clear"><a href="/Home/ProductDetail?postId=@post.PostId">@post.Title</a></h3>
                                                <p>
                                                    <a href="/Home/ProductDetail?postId=@post.PostId" class="btn-sm-link"><i class="icon-link pr-5"></i>Detay Gör</a>
                                                </p>
                                                <p>@post.Description</p>
                                                <div class="elements-list clearfix">
                                                    <span class="price"><del>@post.OldPrice ₺</del> @post.Price ₺</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
                <!-- pills end -->
                <!-- pagination start -->
                <nav class="text-center">
                    <ul class="pagination">
                        <li><a href="#" aria-label="Previous"><i class="fa fa-angle-left"></i></a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#" aria-label="Next"><i class="fa fa-angle-right"></i></a></li>
                    </ul>
                </nav>
                <!-- pagination end -->
            </div>
            <!-- main end -->
            <!-- sidebar start -->
            <!-- ================ -->
            <aside class="col-md-3">
                <div class="sidebar">
                    <div class="block clearfix">
                        <h3 class="title">Çok Bakılanlar</h3>
                        <div class="separator-2"></div>
                        <div id="carousel-sidebar" class="carousel slide" data-ride="carousel">
                            <!-- Indicators -->
                            <ol class="carousel-indicators top">
                                <li data-target="#carousel-sidebar" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-sidebar" data-slide-to="1"></li>
                                <li data-target="#carousel-sidebar" data-slide-to="2"></li>
                            </ol>
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                               @* @{
                                    int counter = 0;
                                    @foreach (var item in ViewBag.BestSeller)
                                    {
                                        if (counter == 0)
                                        {
                                            <div class="item active">
                                                <div class="listing-item">
                                                    <div class="overlay-container">
                                                        <img src="~/Content/images/@item.Images[0].ImageFile" alt="product 1">
                                                        <span class="badge">30% OFF</span>
                                                        <a href="/Home/ProductDetail?postId=@item.PostId" class="overlay-link"><i class="fa fa-link"></i></a>
                                                    </div>
                                                    <h3><a href="/Home/ProductDetail?postId=@item.PostId">@item.Title</a></h3>
                                                    <span class="price"><del>@item.OldPrice ₺</del> @item.Price ₺</span>
                                                </div>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="item">
                                                <div class="listing-item">
                                                    <div class="overlay-container">
                                                        <img src="~/Content/images/@item.Images[0].ImageFile" alt="product 1">
                                                        <span class="badge">30% OFF</span>
                                                        <a href="/Home/ProductDetail?postId=@item.PostId" class="overlay-link"><i class="fa fa-link"></i></a>
                                                    </div>
                                                    <h3><a href="/Home/ProductDetail?postId=@item.PostId">@item.Title</a></h3>
                                                    <span class="price"><del>@item.OldPrice ₺</del> @item.Price ₺</span>
                                                </div>
                                            </div>
                                        }
                                        counter++;
                                    }
                                }*@
                            </div>
                        </div>
                    </div>
                    <div class="block clearfix">
                        <h3 class="title">En Pahalılar</h3>
                        <div class="separator-2"></div>
                        @*@{
                            @foreach (var item in ViewBag.MostExpensives)
                            {
                                <div class="media margin-clear">
                                    <div class="media-left">
                                        <div class="overlay-container">
                                            <img class="media-object" src="~/Content/images/@item.Images[0].ImageFile" alt="blog-thumb">
                                            <a href="/Home/ProductDetail?postId=@item.PostId" class="overlay-link small"><i class="fa fa-link"></i></a>
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        <h6 class="media-heading"><a href="/Home/ProductDetail?postId=@item.PostId">@item.Title</a></h6>
                                        <p class="margin-clear">
                                            <i class="fa fa-star text-default"></i>
                                            <i class="fa fa-star text-default"></i>
                                            <i class="fa fa-star text-default"></i>
                                            <i class="fa fa-star text-default"></i>
                                            <i class="fa fa-star text-default"></i>
                                        </p>
                                        <p class="price">@item.Price ₺</p>
                                    </div>
                                    <hr>
                                </div>
                            }
                        }*@
                    </div>
                    <div class="block clearfix">
                        <h3 class="title">Kategoriler</h3>
                        <div class="separator-2"></div>
                        <nav>
                            <ul class="nav nav-pills nav-stacked list-style-icons">
                                <li><a href="/Home/Index?category=0"><i class="fa fa-caret-right pr-10"></i>Hepsi</a></li>
                                @foreach (var item in ViewBag.Categories)
                                {
                                    <li><a href="/Home/Index?category=@item.CategoryId"><i class="fa fa-caret-right pr-10"></i>@item.CategoryName</a></li>
                                }
                            </ul>
                        </nav>
                    </div>
                    <div class="block clearfix">
                        <h3 class="title">Bilgilendirme</h3>
                        <div class="separator-2"></div>
                        <p class="margin-clear">Bu sitede yer alan kullanıcıların oluşturduğu tüm içerik, görüş ve bilgilerin doğruluğu, eksiksiz ve değişmez olduğu, yayınlanması ile ilgili yasal yükümlülükler içeriği oluşturan kullanıcıya aittir. Bu içeriğin, görüş ve bilgilerin yanlışlık, eksiklik veya yasalarla düzenlenmiş kurallara aykırılığından sahibinden.com hiçbir şekilde sorumlu değildir.</p>
                    </div>
                    <div class="block clearfix">
                        <form asp-action="Index" role="search">
                            <div class="form-group has-feedback">
                                <input type="text" class="form-control" name="searchKeyword" placeholder="Ara">
                                <i class="fa fa-search form-control-feedback"></i>
                            </div>
                        </form>
                    </div>
                </div>
            </aside>
            <!-- sidebar end -->

        </div>
    </div>

</section>
<!-- main-container end -->